fieldset {
    border: 0;
}

#titulo {
    font-family: sans-serif;
    font-weight: bold;
    color: #380B61;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
} 

#subtitulo {
    font-family: sans-serif;
    color: #380B61;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
} 

form {
    display: flex;
    justify-content: center;
    align-items: center; 
}

body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
}

.voltar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar input[type= "button"] {
    padding: 5px 15px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: purple;
    border: 1px solid purple;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transition: 0.5s;
}


.curriculo-insert input {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: sans-serif;
    color: black;
    width: 300px;
}

.curriculo-insert select {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
    color: black;
}

.curriculo-insert textarea {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    width: 450px;
    height: 100px;
}

.curriculo-insert label {
    font-family: sans-serif;
    font-size: 17px;
    color: #380B61;
    font-weight: bold;
}

.nacionalidade label {
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    margin-right: 15px;
}

.nacionalidade input {
    background: white;
    border: 1px solid black;
    color: #380B61;
    padding: 5px;
}

.nacionalidade p {
    font-family: sans-serif;
    font-size: 17px;
    color: #380B61;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

input[type="submit"] {
    padding: 10px 30px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: purple;
    border: 1px solid purple;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transition: 0.5s;
}

input[type="submit"]:hover {
    background-color: white;
    color: purple;
}